<a href="https://colab.research.google.com/github/kevalRabadiya/Quotes/blob/main/PDS_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


___

<a href='https://www.darshan.ac.in/'> <img src='https://gtu.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___
<pre>
<center><b>Python for Data Science - 3150713</b></center>
<center><b>Lab - 1</b></center>    
<pre>

# 01) WAP to add two numbers entered by user

In [1]:
n1 = int(input("Enter number 1 : "))
n2 = int(input("Enter number 2 : "))

ans = n1 + n2

print("Sum =", ans)

Enter number 1 : 5
Enter number 2 : 3
Sum = 8

# 02) WAP to calculate simple interest.

In [ ]:
p = int(input("Enter principal amount : "))
r = int(input("Enter annual rate : "))
n = int(input("Enter deration in years : "))

interest = (p * r * n) / 100

print("Interest =", interest)

# 03) WAP to calculate area of circle.

In [ ]:
import math
r = int(input("Enter radius : "))
area = math.pi * r * r
print(area)

# 04) WAP to print Multiplication table of given number without using loop.

# 05) WAP to check whether the given number is positive or negative.

In [ ]:
n = int(input("Enter number"))
if n > 0:
    print("positive")
else:
    print("Negative")

# 06) WAP to find out largest number from given three numbers.

In [ ]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
c = int(input("Enter number 3 : "))

if a > b:
    if a > c:
        print(a, " is greatest")
    else:
        print(c, " is greatest")
else:
    if b > c:
        print(b, " is greatest")
    else:
        print(c, " is greatest")

# 07) WAP to implement simple calculator which performs (add,sub,mul,div) of two numbers based on user input.

In [ ]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
ope = input('Enter operator : ')

if ope == '+':
    print(a+b)
elif ope == '-':
    print(a-b)
elif ope == '*':
    print(a*b)
elif ope == '/':
    print(a/b)
else: 
    print("Invalid operator")

# 08) WAP to print 1 to n

In [ ]:
n = int(input("Enter number : "))

for i in range(1, n+1):
    print(i)

# 09) WAP to print odd numbers between 1 to n

In [ ]:
n = int(input("Enter number : "))

for i in range(1, n+1):
    if i % 2 != 0:
        print(i)

# 10) WAP to print sum of series 1–2+3–4+5–6+7...n

In [ ]:
n = int(input("Enter number : "))
ans = 0;
for i in range(1, n+1):
    if i % 2 != 0:
        ans += i
    else: 
        ans += (i * -1)
        
print(ans)

# 11) WAP to print multiplication table of given number.

In [ ]:

11) WAP to print multiplication table of given number.
n = int(input("Enter number : "))

for i in range(1, 11):
    print(n , "*", i, " =", n*i)

# 12) WAP to find factorial of the given number.

In [ ]:
n = int(input("Enter number : "))
ans = 1
for i in range(2, n+1):
    ans *= i
print(ans)

# 13) WAP to find factors of the given number.

In [ ]:
n = int(input("Enter number : "))

for i in range(1, n + 1):
    if n % i == 0:
        print(i)

# 14) WAP to find whether the given number is prime or not.

In [ ]:
import math
n = int(input("Enter number : "))
if n == 1:
    print("Not prime")
else:
    isPrime = 1
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            isPrime = 0
            break
    
    if isPrime == 1:
        print("Prime")
    else: 
        print("Not prime")

# 15) WAP to print sum of digits of given number.

In [ ]:
n = int(input("Enter number : "))
sum = 0
while(n!=0):
    sum += n%10
    n //= 10
print(sum)

# 16) WAP to find out prime numbers between given two numbers.

In [ ]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))

for n in range(a, b+1):
    isPrime = 1
    if n == 1:
        isPrime = 0
    else:
        for i in range(2, int(math.sqrt(n)) + 1):
            if n % i == 0:
                isPrime = 0
                break
    if isPrime == 1:
        print(n)

# 17) WAP to print Fibonacci series up to number given by user.

In [ ]:
n = int(input("Enter number : "))

if n == 1:
    print(0)
elif n == 2:
    print(0, 1)
else: 
    t1 = 0
    t2 = 1
    print(t1)
    print(t2)
    for i in range(0, n-2):
        t3 = t1 + t2
        print(t3)
        t1 = t2

# 18) WAP to Find largest prime factor of given number.

In [ ]:
n = int(input("Enter number : "))
max = 0
for i in range(1, n + 1):
    if n % i == 0:
        if i == 1:
            isPrime = 0
        else:
            isPrime = 1
            for j in range(2, int(math.sqrt(i)) + 1):
                if i % j == 0:
                    isPrime = 0
                    break

            if isPrime == 1:
                if i>max:
                    max = i
                    
print(max)

# 19) WAP to print sum for cube of first n natural numbers.

In [2]:
n = int(input("Enter number : "))

sum = 0
for i in range(1, n + 1):
   sum += (i**2 * i)

print(sum)

Enter number : 5
225

# 20) WAP to converts the given decimal number to its binary equivalent.

# 21) WAP to print following pattern

<pre>
*
* *
* * *
* * * *
</pre>

In [3]:
for i in range(0, 4):
    for j in range(0, i+1):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *

# 22) WAP to print following pattern

<pre>$ $ $ $
$ $ $
$ $
$</pre>

In [ ]:
for i in range(0, 4):
    for j in range(0, 4-i):
        print('$', end=" ")
    print()

# 23) WAP to print following pattern

<pre>
# # # # #
  # # #
    #
  # # #
# # # # #
</pre>

In [ ]:
for i in range(0, 5):
    for j in range(0, 5):
        if j >= i and j<= 4-i:
            print('#', end=" ")
    print()

# 24) WAP to print following pattern

<pre>
1
2 3
4 5 6
7 8 9 10
</pre>

In [ ]:
k = 1
for i in range(0, 4):
    for j in range(0, i+1):
        print(k, end=" ")
        k += 1
    print()